#
# PanoramicData.Os Minimal Kernel Configuration
# Linux 6.6.x LTS for x86_64
#

# General setup
CONFIG_64BIT=y
CONFIG_SMP=y
CONFIG_NR_CPUS=8
CONFIG_PREEMPT_VOLUNTARY=y
CONFIG_POSIX_MQUEUE=y
CONFIG_USELIB=y
CONFIG_AUDIT=n
CONFIG_CGROUPS=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_SCHED_AUTOGROUP=n
CONFIG_RELAY=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KALLSYMS=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_ELF_CORE=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_MEMBARRIER=y
CONFIG_EMBEDDED=y

# Processor type
CONFIG_GENERIC_CPU=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_X86_IO_APIC=y
CONFIG_X86_MSR=y
CONFIG_X86_CPUID=y
CONFIG_MTRR=y

# Power management
CONFIG_ACPI=y
CONFIG_ACPI_BUTTON=y
CONFIG_ACPI_FAN=n
CONFIG_ACPI_PROCESSOR=y
CONFIG_ACPI_THERMAL=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_SUSPEND=n
CONFIG_HIBERNATION=n
CONFIG_PM=y

# No modules - monolithic kernel
CONFIG_MODULES=n

# Block devices
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=65536

# SCSI (for virtio-scsi)
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI_VIRTIO=y

# ATA/SATA
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_SATA_AHCI=y

# Network stack
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_NET_IPIP=n
CONFIG_NET_IPGRE_DEMUX=n
CONFIG_SYN_COOKIES=y
CONFIG_IPV6=y
CONFIG_NETFILTER=n
CONFIG_BRIDGE=n
CONFIG_NET_SCHED=n

# Network drivers
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_VIRTIO_NET=y
CONFIG_E1000=y
CONFIG_E1000E=y

# Input devices
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=y
CONFIG_MOUSE_PS2_ALPS=n
CONFIG_MOUSE_PS2_BYD=n
CONFIG_MOUSE_PS2_LOGIPS2PP=n
CONFIG_MOUSE_PS2_SYNAPTICS=n
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=n
CONFIG_MOUSE_PS2_CYPRESS=n
CONFIG_MOUSE_PS2_TRACKPOINT=n
CONFIG_MOUSE_PS2_ELANTECH=n
CONFIG_MOUSE_PS2_SENTELIC=n
CONFIG_MOUSE_PS2_TOUCHKIT=n
CONFIG_MOUSE_PS2_FOCALTECH=n

# Serial console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=4
CONFIG_SERIAL_8250_RUNTIME_UARTS=4
CONFIG_SERIAL_8250_PCI=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y

# TTY
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=n
CONFIG_HW_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_UNIX98_PTYS=y
CONFIG_LEGACY_PTYS=n

# Graphics (DRM/KMS)
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_BOCHS=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_QXL=y

# Framebuffer
CONFIG_FB=y
CONFIG_FB_CORE=y
CONFIG_FB_NOTIFY=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_VESA=y
CONFIG_FB_EFI=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_LOGO=n

# Virtio
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_MEM=n
CONFIG_HW_RANDOM_VIRTIO=y

# PCI
CONFIG_PCI=y
CONFIG_PCI_MSI=y

# Filesystems
CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# Pseudo filesystems
CONFIG_CONFIGFS_FS=n
CONFIG_HUGETLBFS=n

# Native language support
CONFIG_NLS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y

# Security (minimal)
CONFIG_SECURITY=n
CONFIG_SECURITYFS=n
CONFIG_SECURITY_NETWORK=n
CONFIG_SECURITY_PATH=n
CONFIG_LSM=""

# Crypto
CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_CURVE25519=y

# Disable unnecessary features
CONFIG_SOUND=n
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=n
CONFIG_USB_HID=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_WIRELESS=n
CONFIG_WLAN=n
CONFIG_BT=n
CONFIG_RFKILL=n
CONFIG_NFC=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_STAGING=n
CONFIG_HWMON=n
CONFIG_THERMAL=n
CONFIG_WATCHDOG=n
CONFIG_MFD_CORE=n
CONFIG_REGULATOR=n
CONFIG_RC_CORE=n
CONFIG_CEC_CORE=n
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_ACCESSIBILITY=n
CONFIG_EDAC=n
CONFIG_RAS=n
CONFIG_INFINIBAND=n
CONFIG_ANDROID=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_MELLANOX_PLATFORM=n
CONFIG_SURFACE_PLATFORMS=n

# Debugging
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_INFO=n
CONFIG_MAGIC_SYSRQ=y
CONFIG_MAGIC_SYSRQ_DEFAULT_ENABLE=0x01b6
CONFIG_EARLY_PRINTK=y

# Boot options
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="console=ttyS0,115200n8 console=tty0"
